---
import ProfileCard from "./ProfileCard.astro";
import H3 from "./Headings/H3.astro";
const { actors } = Astro.props;
---
<style>
    div.carousel {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
</style>

<H3>Actors</H3>
<div class="carousel hide-scrollbar">
    {
        actors.map(actor => <ProfileCard name={actor.data.name} profileImage={actor.data.profileImage}/>)
    }
</div>

