---
import {getCollection} from "astro:content";
const allCategories = await getCollection("categories");
// Only display Categories that have been marked to display in this carousel component
const filteredCategories = allCategories.filter(category => !!category.data.displayOnHome);
---
<style>
    div.category-tag {
        background-color: #EDEDED;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        white-space: nowrap;
        margin: 0 4px;
    }

    div.carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

</style>
<div class="carousel hide-scrollbar">
    <div class="category-tag">
        All
    </div>
    {
        filteredCategories.map(category =>
                <div class="category-tag">
                    {category.data.title}
                </div>
        )
    }
</div>

