---
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
    const profiles = await getCollection("profiles");

    if (!!!profiles) {
        return [];
    }

    return profiles.map(profile => {
        return {
            params: { slug: profile.slug },
            props: { profile }
        }
    });
}

const { slug } = Astro.params;
const { profile } = Astro.props;
---

<h1>{profile.data.title}</h1>
