---
import Header from "../components/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css2?family=Poppins">
		<title>{title}</title>
	</head>
	<body>
	<Header />
		<slot />
	</body>
</html>
<style is:global>
	* {
		font-family: 'Poppins', Bahnschrift, -apple-system, serif;
		box-sizing: border-box;
	}

	body {
		height: 100vh;
		background: linear-gradient(to bottom, white 20% , rgb(236, 228, 228) 40%, rgb(243, 243, 243) 100%);
	}

	.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
</style>
