---
import Header from "../components/layout_elements/Header.astro";
import { ViewTransitions } from 'astro:transitions';
import { SEO } from "astro-seo";
interface Props {
	title: string;
}

const { title, darkMode = false } = Astro.props;
const backgroundGradient = darkMode ? 'linear-gradient(to bottom, black 20% , #121212 40%, #090909 100%)' : 'linear-gradient(to bottom, white 40% , rgb(236, 228, 228) 90%, rgb(243, 243, 243) 100%)';

---
<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="robots" content="index"/>
		<SEO
			title="Imhotion - Imhotep Vandeputte's online portfolio"
			description="Imhotion is a website hosted by the freelancer Imhotep Vandeputte, Imhotep specializes in creating any audio visual content you can think of. Movies, 3D, Commercials, Music videos..."
			openGraph={{
				basic: {
					title: "Imhotion - Imhotep Vandeputte's online portfolio",
					type: "Portfolio",
					image: "../../public/favicon.webp",
				}
			}}
			extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [],
			}}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css2?family=Poppins">
		<title>{title}</title>
		<!--<ViewTransitions/>-->
	</head>
	<style is:global define:vars={{gradient: backgroundGradient}} type="text/scss">
		* {
			font-family: 'Poppins', Bahnschrift, -apple-system, serif;
			box-sizing: border-box;
		}

		body {
			height: 100%;
			min-height: 100vh;
			background: var(--gradient);
		}

		.hide-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}

		.hide-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.unselectable {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		div.carousel {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			scroll-snap-type: x mandatory;
		}

		div.container {
			max-width: 800px;
			margin: auto;
		}

		.flex {
			display: flex;
			&.wrap {
				flex-wrap: wrap;
			}

			&.space-around {
				justify-content: space-around;
			}

			&.space-between {
				justify-content: space-between;
			}

			&.center {
				justify-content: center;
			}
		}

		p {
			margin: 2rem 0;
			line-height: normal;
			font-size: 26px;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	</style>

	<body>
	<Header darkMode={darkMode}/>
	<slot />
	</body>
</html>
