---
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title, darkMode = false } = Astro.props;
const backgroundGradient = darkMode ? 'linear-gradient(to bottom, black 20% , #121212 40%, #090909 100%)' : 'linear-gradient(to bottom, white 20% , rgb(236, 228, 228) 40%, rgb(243, 243, 243) 100%)';

---
<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css2?family=Poppins">
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
	<Header darkMode={darkMode}/>
		<slot />
	</body>
</html>
<style is:global define:vars={{gradient: backgroundGradient}}>
	* {
		font-family: 'Poppins', Bahnschrift, -apple-system, serif;
		box-sizing: border-box;
	}

	body {
		height: 100%;
		min-height: 100vh;
		background: var(--gradient);
	}

	.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	div.carousel {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
	}

</style>
