---
import ProfileCard from "../cards/ProfileCard.astro";
import H3 from "../headings/H3.astro";
const { actors } = Astro.props;
---
<style>
    div.carousel {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
</style>

<H3>Cast & Crew</H3>
<div class="carousel hide-scrollbar">
    {
        actors.map(actor => <ProfileCard name={actor.data.name} profileImage={actor.data.profileImage} slug={actor.slug}/>)
    }
</div>

