---
import H3 from "../headings/H3.astro";
import MovieThumbnail from '../cards/MovieThumbnail.astro';
const { categoryTitle, projects } = Astro.props;
---
<style>
    div.carousel {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
</style>

<H3>{categoryTitle}</H3>
<div class="carousel hide-scrollbar">
    {
        projects?.map(project => <MovieThumbnail image={project.data.verticalImage ?? project.data.heroImage} slug={project.slug} />)
    }
</div>
