---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from "astro:content"
import MoviesCarousel from '../../components/MoviesCarousel.astro';

const allprojects = await getCollection('projects');
const allPrimaryCategories = [];
allprojects.forEach(project => {
    if (!allPrimaryCategories.includes(project.data.primaryCategory)) {
        allPrimaryCategories.push(project.data.primaryCategory);
    }
})
---
<style>
    * {
        color: white;
    }
</style>
<Layout darkMode="true">
    <main>
            { allPrimaryCategories.map(category => <MoviesCarousel categoryTitle={category} projects={allprojects.filter(p => p.data.primaryCategory === category)}/>) }
    </main>
</Layout>

