---
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects?.map(project => {
        return {
            params: { slug: project.slug },
            props: { project }
        }
    });
}

const { slug } = Astro.params;
const { project } = Astro.props;
---

<h1>{project.data.title}</h1>
