---
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/headings/H1.astro';
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    if (!!!projects) {
        return [];
    }


    return projects.map(project => {
        return {
            params: { slug: project.slug },
            props: { project }
        }
    });
}

const { slug } = Astro.params;
const { project } = Astro.props;
---

<Layout>
    <H1>{project.data.title}</H1>
</Layout>
